html {
	height: 100%;
}

body {
	--color-primary: #ffe9ce;
  --color-primary-contrast: #000000;
  --color-secondary: #308d43;
  --color-secondary-contrast: #ffffff;
  --color-disabled: light-gray;

  --text-primary: black;
  --text-secondary: #636363;

	height: 100%;
	margin: 0;

  color: var(--text-primary);
}

.install_banner_visibility {
  /*ALWAYS NONE UNLESS beforeinstallprompt EVENT IS DETECTED*/
  display: none;
}

.install_banner_container {
  display: flex;
  padding: 15px;
  cursor: pointer;
}

.install_banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.install_banner_content {
  display: flex;
  gap: 10px;
  align-items: center;
}

.install_banner_description {
  display: flex;
  flex-direction: column;

  .install_banner_title {
    font-size: 1rem;
  }
  .install_banner_subtitle {
    color: var(--text-secondary);
    font-size: 0.8rem;
  }
}

.install_banner_close {
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.install_banner_icon {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.main_container {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	min-width: 100%;

	@media all and (orientation:portrait) {
		flex-direction: row;
	}
}

.players_container {
	display: flex;
  flex: 1 1 auto;

	height: 100%;
	width: 100%;
}

.sidebar {
	display: flex;
	align-content: center;
	justify-content: space-between;

	@media all and (orientation:portrait) {
		flex-direction: column;
		min-height: 100%;
	}
}

.player_container {
  display: flex;
  flex: 4 1 0;

  /*TODO REMOVE*/
  background-color: red;
  /***/
}
.midline {
  flex: 1 1 0;

  /*TODO REMOVE*/
  background-color: green;
  /***/
}

.main_button {
	background-color: var(--color-primary);
	border-radius: 25px;
	text-align: center;
	padding: 0 20px;
	border: 0;
	line-height: 2.5;

	box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);

  &:hover {
  }
  &:active {
    box-shadow:
      inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  }
}

.settings_button {
	border-radius: 100px;
	background-color: transparent;
	border: 0;
	padding: 20px;
	display: flex;
	align-items: center;

  &:active {
    background-color: #00000022;
  }
}
